<div class=img>
  <div class=privacy-border></div>
  <div class="privacy {{#if private}}private{{else}}public{{/if}}"></div>
  <img src="{{favicon}}" alt="">
</div>
<h2>{{title}}</h2>
<h3>{{url}}</h3>
<span class=age>{{age}}</span>
